<template name="layout">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{> errors}}
    <div class="layout">
        {{# if currentUser}}
            <a href="/sign-out" class="ui-button button-secondary _access-btn">SignOut</a>
        {{else}}
            <a href="/sign-in" class="ui-button button-primary _access-btn">SignIn</a>
        {{/ if}}
        <aside class="sidebar">
            {{# if currentUser}}
                <form class="search-box" action="#">
                    <fieldset>
                        {{> search}}
                        {{> groupsList}}
                    </fieldset>
                    <button class="sort-list-btn">Name</button>
                </form>
                {{> contactsList}}
                <div class="add-new">
                    <a href="{{pathFor 'createContact'}}" class="ui-button button-primary fl">
                        <span class="icon-plus"></span>
                        <span class="button-text">New Contact</span>
                    </a>
                    <a href="{{pathFor 'createGroup'}}" class="ui-button button-primary fr">
                        <span class="icon-plus"></span>
                        <span class="button-text">New Group</span>
                    </a>
                </div>
            {{/ if}}
        </aside>
        <section class="main-content">
            <h1 class="hide-text">Address book</h1>
            {{> yield}}
        </section>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        // e.src='//www.google-analytics.com/analytics.js';
        // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        // ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/build.js"></script>
</template>