<template name="contactPage">
    <div class="person-data">
        <div class="person-data-controls">
            <a href="{{pathFor 'editContact'}}" class="ui-button button-primary">
                <span class="icon icon-pencil"></span>
                <span class="button-text">Edit</span>
            </a>
            <button class="ui-button button-secondary" data-remove="contact">
                <span class="icon-remove"></span>
                <span class="buton-text">Delete</span>
            </button>
        </div>
        <div class="person-data-inner">
            <div class="person-item-photo">
                <img src="{{gavatar}}" alt="">
            </div>
            <div class="person-item-data">
                <h2 class="person-fname">
                    <span class="icon-users"></span>
                    {{fullname}}
                </h2>
                <p class="adress-block" title="Group">
                    <span class="icon-tags"></span>
                    <span class="text">{{group}}</span>
                </p>
                <p class="adress-block" title="Phone">
                    <span class="icon-mobile"></span>
                    <span class="text">{{phone}}</span>
                </p>
                <p class="adress-block" title="E-mail">
                    <span class="icon-earth"></span>
                    <a href="mailto:{{email}}">{{email}}</a>
                </p>
            </div>
        </div>
    </div>
</template>
