<template name="contactItem">
    <li class="contact-block">
        <a href="{{pathFor 'contactPage'}}" class="contact-item">
            <span class="image"><img src="images/image-holder.jpg" alt=""></span>
            <span class="fullname">{{fullname}}</span>
        </a>
        <div class="contact-item-controls">
            <button class="ui-button contact-control-edit" title="Edit Contact">
                <span class="icon-pencil"></span>
            </button>
            <button class="ui-button contact-control-delete" title="Delete Contact">
                <span class="icon-remove"></span>
            </button>
        </div>
    </li>
</template>