<template name="createContact">
    <form action="#" class="create-contact">
        <label for="f-name">First Name</label>
        <input type="text" name="first-name" id="f-name" placeholder="John">
        <label for="l-name">Last Name</label>
        <input type="text" name="last-name" id="l-name" placeholder="Snakes">
        <label for="u-email">E-mail</label>
        <input type="email" name="user-email" id="u-email" placeholder="john@snakes.com">
        <label for="u-phone">Phone</label>
        <input type="tel" name="user-tel" id="u-phone" placeholder="457-58-59">
        <button class="ui-button button-primary" type="submit">
            <span class="icon-plus"></span>
            <span class="button-text">Create</span>
        </button>
    </form>
</template>