<template name="createGroup">
    <form action="#" class="create-group">
        <fieldset>
            <legend>Create new group</legend>
            <label for="group-name">Group Name</label>
            <input type="text" name="group-name" id="group-name" placeholder="Work">
        </fieldset>
        <p>
            <button class="ui-button button-primary" type="submit">
                <span class="icon-plus"></span>
                <span class="button-text">Create</span>
            </button>
        </p>
    </form>
</template>